.aboutSection {
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;
	font-weight: 500;
}

.linksContainer {
    border: 3px solid purple;
}

.socialLink {
    border: 3px solid greenyellow;
    padding: 3px;
}

.socialLink svg {
    transition: 0.3s;
    fill: aquamarine;
}

.socialLink:hover svg {
    transform: scale(1.2);
    transition: 0.3s;
}

@media (min-width: 600px) {
		.aboutImage {
			margin-top: 100px;

	}
}

.aboutImage {
	/* margin-top: 100px; */
	width: 300px;
	height: 408px;
	flex-shrink: 0;
	border-radius: 25px;
}

.aboutSectionWrapper {
	display: flex;
	flex-direction: row;
}

.name {
	padding: none;
}