/* MouseRing.module.css */
.mouseRing {
    position: fixed;
    top: 0;
    left: 0;
    width: 800px;
    height: 800px;
    pointer-events: none;
    will-change: transform;
    border-radius: 50%;
    transition: transform 0.05s linear;
    background: radial-gradient(
        circle,
        rgba(146, 115, 203, 0.08) 0%,
        transparent 60%
    );
    z-index: 9999;
}
