.projectSection {
    /* min-width: 350px; */
  width: clamp(300px, 100%, 600px);
  padding: 1rem;
  box-sizing: border-box;
    border: 3px solid orange;
}

.projectWrapper {
	border: 5px solid red;
	transition: 0.5s;
	display: flex;
}
 
.projectWrapper:hover {
	border: 15px solid pink;
	transition: 0.5s;
}
