.projectSection {
	text-align: center;
    width: clamp(250px, 100%, 550px);
    padding: 1rem;
    box-sizing: border-box;
}

.projectWrapper {
    border: 6px solid rgb(159, 28, 195);
	background-color: rgb(47, 9, 63);
	border-radius: 15px;
	padding: 10px;
    transition: 0.5s;
    display: flex;
	margin-bottom: 10px;
}

.projectWrapper:hover {
    border: 10px solid rgb(229, 112, 196);
    transition: 0.5s;
}

.projectLink {
	font-size:large;
	color: rgb(252, 176, 76);
	font-weight: 800;
}

.projectDescription {
	box-sizing: border-box;
	padding: 10px;
	display: flex;
	align-items: center;
}