.app {
	box-sizing: border-box;
	border: 5px solid rgb(67, 67, 67);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: #040303;
	color: #DFBBB1;;
	overflow-x: hidden;
	justify-content: center;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.scrollArea {
	overflow-x: auto;
	width: 100%;
}

.appLayout {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
}

@media (aspect-ratio > 4) {
  .appLayout {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }


}

.aboutWrapper {
	flex: 1;
	/* max-width: 400px; */
}

.projectWrapper {
	min-width: 300px;
	display: flex;
	justify-content: center; /* centers horizontally */
	align-items: flex-start; /* optional: aligns to top vertically */
	padding: 1rem;           /* optional: gives breathing room */
	box-sizing: border-box;  /* ensures padding doesn't cause overflow */
}


.scrollArea {
	flex: 1; /* grows to fill remaining space */
	overflow-x: auto;
	width: 100%;
}

.fullWidth {
	width: 100%;
	box-sizing: border-box;
}